*{

    margin: 5px;

}

.loja{

    display: flex;
    flex-direction: column;
    align-items: center;
    

}

input{

    text-align: center;

}

select{

    width: 170px;
    text-align: center;

}